@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap");
body html {
  height: 100%;
  min-width: 350px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.parallax {
  background-image: url(img/wallpaper2.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky {
  width: 100%;
  position: fixed;
  background: inherit;
  z-index: 10;
  top: 0;
  margin-bottom: 2px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 8px 10px -3px #222;
          box-shadow: 0 8px 10px -3px #222;
}

.sticky button, .sticky a, .sticky input {
  margin-top: 10px;
}

header {
  color: black;
  background-color: rgba(224, 224, 224, 0.35);
  background-image: radial-gradient(#212121 12%, transparent 12%), radial-gradient(#fafafa 8%, transparent 8%);
  background-position: 0 0, 50px 50px;
  background-size: 15px 15px;
  border-bottom: 3px solid black;
}

header .header {
  margin-left: 20px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

header .header .cut-title {
  position: absolute;
  bottom: 0;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  font-weight: 900;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
}

header .header .cut-title:after {
  content: "Real-Time Crypto";
  position: absolute;
  left: -10px;
  top: -2px;
  color: white;
  -webkit-clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
}

header .header .cut-title:before {
  content: "Real-Time Crypto";
  position: absolute;
  color: white;
  -webkit-clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
          clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
}

header .header img {
  float: right;
  border-bottom: 3px solid black;
}

@media only screen and (min-width: 992px) {
  main {
    margin: 0% 10% 0% 10%;
  }
  nav-bar {
    margin: 0% 10% 0% 10%;
  }
  nav-bar .search {
    margin-right: 10%;
  }
}

nav-bar a {
  padding: 10px;
  text-shadow: 0px 0px 7px black;
  font-size: large;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

nav-bar a:hover {
  color: #fff;
  background-color: #007bff;
}

nav-bar .search {
  float: right;
}

main display-section .card {
  margin: .15em;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.514);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main display-section .card:hover {
  border: 2px solid black;
}

main display-section h5 img {
  width: 25px;
  height: 25px;
}

main display-section h5 div {
  float: right;
}

.about {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.about img {
  height: 300px;
  width: 300;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

@media only screen and (min-width: 1081px) {
  header {
    height: 100px;
    margin-bottom: 50px;
  }
  header .cut-title {
    font-size: 6em;
  }
  header img {
    height: 100px;
    margin-top: 20px;
  }
  .card:hover {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
}

@media (max-width: 1080px) and (min-width: 768px) {
  header {
    height: 85px;
    margin-bottom: 30px;
  }
  header .cut-title {
    font-size: 4em;
    top: 17px;
  }
  header img {
    height: 80px;
    margin-top: 20px;
  }
  .card:hover {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
  }
}

@media (max-width: 768px) and (min-width: 570px) {
  header {
    height: 70px;
    margin-bottom: 20px;
  }
  header .cut-title {
    font-size: 3em;
    top: 17px;
  }
  header img {
    height: 70px;
    margin-top: 20px;
  }
  .card:hover {
    -webkit-transform: scale(1.007);
            transform: scale(1.007);
  }
  .search {
    width: 100%;
  }
  main {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 570px) {
  header {
    height: 53px;
    margin-bottom: 20px;
  }
  header .cut-title {
    font-size: 2em;
    top: 17px;
  }
  header img {
    display: none;
  }
  .card:hover {
    -webkit-transform: scale(1.007);
            transform: scale(1.007);
  }
  .search {
    width: 100%;
  }
  main {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
}
/*# sourceMappingURL=styles.css.map */